button {
    background-color: blue;
    color: chartreuse;
    padding: 5px;
    margin: 8px;
}

button:disabled {
    background-color: grey;
    color: black;
}

body {
    background-color: aquamarine;
    margin: 8%;
    text-align: center;
}

input {
    width: 45px;
    background-color: black;
    color: antiquewhite;
}

output {
    border: 4px;
}

select {
    font-size: 32px;
}